jobs:
  - template: default.yml@templates
    parameters:
      minrust: 1.42
      codecov_token: $(CODECOV_TOKEN_SECRET)

resources:
  repositories:
    - repository: templates
      type: github
      name: crate-ci/azure-pipelines
      ref: refs/heads/v0.4
      endpoint: datafuse-extras-msql-srv
